/* Reset default styles */
html, body, h1, h2, h3, p, ul, li, form, input, textarea {
  margin: 0;
  padding: 0;
  font-family: Garamond, serif;
  color: #333;
}

/* Global styles */
body {
  background-color: #f5f2e9;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: #eae3d9;
  padding: 20px;
}

.logo img {
  width: 100px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #8b6b0b; /* Dark mustard yellow color code */
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #725907; /* Darker mustard yellow color code */
}

/* Sections styles */
section {
  padding: 80px 0;
  text-align: center;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Products section styles */
.product {
  display: inline-block;
  width: 300px;
  margin: 20px;
  text-align: center;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buy-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: #8b6b0b; /* Dark mustard yellow color code */
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.buy-button:hover {
  background-color: #725907; /* Darker mustard yellow color code */
}

/* Contact section styles */
form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

form input[type="submit"] {
  background-color: #ad9f8d;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #eae3d9;
  padding: 20px;
  text-align: center;
}

.footer-links ul li {
  display: inline;
  margin-right: 10px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #333;
}

.footer-social {
  margin-top: 20px;
}

.footer-social a {
  display: inline-block;
  margin-right: 10px;
}

.footer p {
  margin-top: 10px;
  font-size: 14px;
}